.row
{
    background-color:pink;
    margin: 10px;
    flex: auto;
}
.col-md-4
{
    border: 2px solid black;
}

@media screen and (min-width:768px) and (max-width:991px)
{
    #chicken {
        width: 50%;
    }
    #beef{
        width: 50%;
    }
    #sushi{
        width:100%;
    }
}